@(widgets: Seq[Widget], total: Int, form: Form[WidgetForm.Data], numForm: Form[WidgetForm.Num], calcUrl: Call)(implicit request: MessagesRequestHeader)

  @main("List") {

    <h1>List</h1>

    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
      <div>@name: @value</div>
    }

    <table>
      <thead>
        <tr><th>Name</th><th>Price</th></tr>
      </thead>
      <tbody>
      @for(w <- widgets) {
        <tr><td>@w.name</td><td>@w.price</td></tr>
      }
      </tbody>
    </table>

    @helper.form(calcUrl) {
      @helper.CSRF.formField

      @helper.repeat(numForm("numbers"), min = widgets.length) { numField =>
        @helper.inputText(numField)
      }
      <button>Sum all items</button>
    }
    Total: @total
    

    <hr>
    <div>
      Go to [<a href="@routes.WidgetController.postWidgets">Post</a>]
    </div>

  }
