@(widgets: Seq[Widget], total: Int, countForm: Form[WidgetForm.Count], postUrl: Call)(implicit request: MessagesRequestHeader)

  @main("Widgets") {

    <h1>Widgets</h1>

    

    <table>
      <thead>
        <tr><th>Name</th><th>Price</th>
      </thead>
            <tbody>
            @for(w <- widgets) {
                <tr><td>@w.name</td><td>@w.price</td> <td></td></tr>
            }
            </tbody>

    </table>
    @helper.form(postUrl){
        @helper.CSRF.formField

        @helper.repeat(countForm("num"), min=widgets.length){ n=>
            @helper.inputText(n)
        }
    <button>Get total</button>
    }
    Total: @total
    <hr/>

    <div>
        <ul>
          <li><a href="@routes.WidgetController.show">@routes.WidgetController.show</a></li>
          <li><a href="@routes.WidgetController.listWidgets">@routes.WidgetController.listWidgets</a></li>
        </ul>
      </div>
  }
