@(widgets: Seq[Widget])(implicit request: MessagesRequestHeader)

  @main("Widgets") {

    <h1>Widgets_showonly</h1>

    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
      <div>@name: @value</div>
    }

    <table>
      <thead>
        <tr><th>Name |</th><th>Price</th>
      </thead>
      <tbody>
      @for(w <- widgets) {
        <tr><td>@w.name</td><td>@w.price</td></tr>
      }
      </tbody>
    </table>

    <hr/>

    <div>
      <ul>
        <li> CCC <a href="@routes.WidgetController.show">@routes.WidgetController.show</a></li>
        <li> DDD <a href="@routes.WidgetController.listWidgets">@routes.WidgetController.listWidgets</a></li>
      </ul>
    </div>
  }
